{{ define "main" }}
{{ if eq .Section "posts" }}
<div class="row">
<div class="column left">
  {{ end }}
  {{ if eq .Section "posts" }}
  <h1>{{ .Title }}</h1>
  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <p class="publish-date"><time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></p>
  {{ end }}
  {{ .Content }}
{{ if eq .Section "posts" }}
</div>
<div class="column right">
  {{ partial "sidebar.html" . }}
</div>
</div>
{{ end }}
{{ end }}
