/* =========================================================
   Header
   ========================================================= */
.site-header {
  position: relative;
  /* height: 100%; */
  /* color: var(--near-white); */
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 99;
}

/* Transparante overlay */
.header-overlay {
  background: rgba(56,56,46,0.6); /* donkere transparante laag */
  background-size: cover;
  background-position: center;
  min-height: 500px;
  /* height: auto; */
  width: 100%;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;  
  align-items: center;    
  /* padding-top: 100px;     */
  padding-bottom: 60px;  
  /* box-sizing: border-box;   */
  position: relative;
}

/* Logo + menu naast elkaar */

.header-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  height: 80px;                /* vaste hoogte instellen */
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* verticaal centreren */
  align-items: center;      /* horizontaal centreren */
  text-align: center;
  max-width: 80%;
  margin: 0 auto;           /* centreren binnen de container */
  min-height: 400px; /* optioneel: hero-hoogte, minus menu + padding */
  top: calc(80px + 1rem);
}


@media screen and (min-width: 801px) {
  .header-top {
    z-index: 9999;
  }
  .header-top.scrolled {
    background-color: var(--light-color-1); /* jouw lichtgroen */
  }
  .header-top.scrolled h3 a, 
  .header-top.scrolled i,
  .header-top.scrolled h1 a {
      color: var(--dark-color-1);
  }
}

.logo {
  flex: 0 0 auto;
  position: static;
  line-height: 1;
}

/* Tekst in header */
/* .header-content {
  flex: 1;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  top: calc(80px + 1rem);
  left: 50%;
  max-width: 90%;
  white-space: normal;
  z-index: 2;
  transform: translateX(-50%);
} */

.header-content h1 {
  font-size: clamp(40px, 7vw, 48px);
  font-weight: 1000;
}

/* =========================================================
   Navigatie / Menu
   ========================================================= */

.menu {
  flex: 1 1 auto; /* neemt beschikbare ruimte in */
  display: flex;
  justify-content: center; /* menu in het midden van de beschikbare ruimte */
  overflow: visible;
}

.has-mega {
  display: inline-flex;
}

.header-overlay h3 a:hover, 
.has-mega:hover h3 a,
.has-mega:hover i,
.mega-column h4 a:hover,
.mega-column li a:hover {
  color: var(--dark-color-2);   /* hoverkleur */
}

nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

/* --- Dropdown --- */
.has-mega {
  position: relative;
}

.mega-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  width: max-content;
  max-height: 350px;
  background: var(--near-white);
  padding: 1rem;
  gap: 1rem;
  white-space: normal;
  /* z-index: 100; */
  max-height: 350px;
  transform: translateX(-50%);
  column-count: 3;        /* verdeel over 3 kolommen */
  column-gap: 2rem;       /* ruimte tussen kolommen */
  text-align: left;
}

.has-mega:hover .mega-menu {
  display: block;
  border-radius: 25px;
  /* z-index: 999; */
}

.mega-column {
  break-inside: avoid;    /* voorkomt dat een regio in twee kolommen splitst */
  margin-bottom: 1rem;
}

.mega-column h4{
  margin: 0 0 0.5rem;
}

.mega-column h4 a{
  color: var(--dark-color-1);
}

.mega-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mega-column li {
  margin: 0.25rem 0;
}

.mega-column li a {
  font-family: var(--plain-text);
  color: var(--dark-color-1);
}

.menu .icon {
  display: none;
  color: var(--dark-color-1);
  background-color: var(--light-color-2);
  padding: 22px;
}

@media screen and (max-width: 800px) {
  
  /* pas header overlay aan */
  .header-overlay.menu-open {
    background: var(--light-color-1) !important;
    background-image: none !important;
    height: auto;
    overflow-y: auto;
  }

  .header-overlay.menu-open .wave {
    display: none;
  }

  .header-overlay.menu-open .header-content {
    display: none;
  }

  .header-overlay.menu-open .logo h1 a {
    color: var(--dark-color-1);
  }

  .header-top {
    position: relative;
  }

  /* menu basics */
  .menu {
    justify-content: flex-end;
  }

  .menu .icon i {
    font-size: 24px;
  }

  .menu a.icon, .menu .icon {
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    z-index: 999;
  }

  .menu .icon i {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  /* hoofdmenu */
  .menu nav ul {
    display: none;
    flex-direction: column; /* voor als we hem tonen */
    width: 100%;
  }

  .menu.responsive nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%; 
    left: 0;
    right: 0;
    /* background: var(--light-color-1); */
    padding: 0rem 1.25rem;
    z-index: 1;
  }

  .menu.responsive nav > ul {
    gap: 1rem;
    padding-bottom: 1.25rem;
  }

  .menu.responsive nav ul li {
    display: block;
    background: none;
  }

  .menu.responsive nav ul li h3 {
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--dark-color-1);
    text-decoration: none;
    background: none;
    gap: 0.5rem;
    margin: 0;
  }

  .menu.responsive .main-menu-item {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

   .menu.responsive nav {
    z-index: 1;
   }

  .menu.responsive .main-menu-item h3 a,
  .menu.responsive .main-menu-item h3 i {
    color: var(--dark-color-1);
  }

  .menu.responsive .main-menu-item:hover h3 a,
  .menu.responsive .main-menu-item:hover h3 i{
    color:  var(--dark-color-2);
  }

  /* standaard */
.toggle-submenu {
  transition: transform 0.3s ease;
}

/* als parent open is */
.has-mega.open .toggle-submenu {
  transform: rotate(180deg);
}

  /* submenu */
  .menu.responsive .mega-menu {
    display: none;
    width: 100%;
    padding: 1rem; 
    padding-bottom: 0;
    margin: 0;
    background: none;
    column-count: 1;
    min-height: max-content;
  }

  .menu.responsive .has-mega.open .mega-menu {
    display: flex;            /* flex zodat kolommen onder elkaar komen */
    flex-direction: column;
    top: auto;
    position: relative;
  }
  
  .menu.responsive .mega-column ul{
    width: 100%;
    margin: 0;
    display: flex;
    position: static;
  }
}
